@import 'https://fonts.googleapis.com/css?family=Oswald|Roboto';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin: 0 auto;
  background: #000;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}

nav li {
  justify-content: space-between;
  width: 100%;
  text-align: center;

}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #fff;

}

a:hover, a:active {
  font-family: 'Oswald', san-serif;
  font-weight: bold;
  color: red;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 800px;) {
  img {
    width: 600px;
  }
}

p {
  margin: 150px;
  padding: 100px 0;
/*   padding-bottom: 0; */
  text-align: center;
}

@media screen and (min-width: 600px;) {
  p {
    margin: 0;
    padding: 90px;
    width: auto;
    text-align: center;
    font-size: 1rem;
    color: #40586d;
  }
}

footer {
  background-color: #000;
  margin: 0 auto;
  padding: 150px 250px;
}

footer h3 {
  color: #fff;
}

footer ul {
  margin: 0 auto;
  color: #fff;
}

footer li {
  text-align: left;
  font-color: #fff;
  list-style: none;
}


@media screen and (min-width: 600px;){
  footer {
    margin: 0;
    padding: 0 200px;
  }
}

.articles {
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.article {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  padding: 1rem;
  list-style: none;
